<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="BriefLayout" value="${longdate} ${message}" />

  <targets>
    <target xsi:type="File" name="file_log" fileName="${basedir}/logs/${shortdate}.log" layout="${BriefLayout}" />
    <target xsi:type="File" name="error_log" fileName="${basedir}/logs/error_${shortdate}.log" layout="${BriefLayout} ${exception:format=ToString}" />
    <target xsi:type="Console" name="console_log" layout="${BriefLayout} ${exception} " />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file_log" />
    <logger name="*" minlevel="Error" writeTo="error_log" />
    <logger name="*" minlevel="Trace" writeTo="console_log" />
  </rules>
</nlog>